<app-carrusel-app></app-carrusel-app>
<div class="container mt-4  mb-4">
    <div class="row">
        <h4 class="text-center mt-4 mb-4">Procesos</h4>
        <div class="col-md-6">
            <div class="card mb-3 bg-light text-center">
                <a href="/alumnos">
                    <img src="/assets/home/img/c_alumno.jpg" class="card-img-top mx-auto" alt="Alumnos"
                        style="width:250px; height: 200px;">
                </a>
                <div class="card-body">
                    <a href="/alumnos" class="btn btn-dark">  Alumnos  </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3 bg-light text-center">
                <a href="/cursos">
                <img src="/assets/home/img/c_curso.png" class="card-img-top mx-auto" alt="Cursos"
                    style="width:300px; height: 200px;">
                </a>
                <div class="card-body">
                    <a href="/cursos" class="btn btn-dark">  Cursos  </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3 bg-light text-center">
                <a href="/matricula">
                <img src="/assets/home/img/c_matricula.png" class="card-img-top mx-auto" alt="Matriculas"
                    style="width:200px; height: 200px;">
                </a>
                <div class="card-body">
                    <a href="/matricula" class="btn btn-dark">  Matriculas  </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3 bg-light text-center">
                <a href="/pagos">
                <img src="/assets/home/img/c_pago.png" class="card-img-top mx-auto" alt="Pagos"
                    style="width:200px; height: 200px;">
                </a>
                <div class="card-body">
                    <a href="/pagos" class="btn btn-dark">  Pagos  </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div style="height: 50px;"></div>