<div class="container mt-5">
    <h2 class="text-center">Alumnos</h2>
    <div class="d-flex justify-content-center">
        <a class="btn btn-dark " href="alumnos/alumnosForm">Nuevo Alumno</a>
    </div>
    <div class="container mt-5">

    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Fecha de Nacimiento</th>
                <th>Dirección</th>
                <th>Correo</th>
                <th>Teléfono</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let alumno of alumnos">
                <td>{{alumno.id}}</td>
                <td>{{alumno.nombres}}</td>
                <td>{{alumno.apellidos}}</td>
                <td>{{alumno.fechadenacimiento | date}}</td>
                <td>{{alumno.direccion}}</td>
                <td>{{alumno.correo}}</td>
                <td>{{alumno.telefono}}</td>
            </tr>
        </tbody>
    </table>
</div>