<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/alumnos">Alumnos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cursos">Cursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/matricula">Matriculas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pagos">Pagos</a>
        </li>
      </ul>

    </div>
    <div class="d-flex justify-content-end">
      <a class="navbar-brand" href="#">
        <img src="https://campus.cjavaperu.com/pluginfile.php/1/theme_mb2nl/logodark/1643121661/logo-cjava.png"
          alt="Avatar Logo" style="width:40px;" class="rounded-pill">
      </a>
    </div>

  </div>
</nav>